.wrapper {
  width: 100%;
  background: rgb(255, 255, 255);
  box-shadow: 0px 2px 12px rgb(0, 0, 0, 0.35);
  border-radius: 8px;
  padding-top: 8px;
  max-height: min((100vh - 96px) - 60px, 734px);
  overflow: hidden;
}
